.heading {
	text-align: center;
	padding: 20px 20px;	
	
}

.outer-div {
	background-color: #f7f5f4;
	position: relative;
	width: 100vw;
	height: 91vh;
}

.inner-div {
	  background-color: #ffffff;
	  position: absolute;
	  margin-top:10vh;
	  margin-left: 20%;
	  margin-right: 20%;
	  width: 60%;
	  padding: 10px 25px; 
}

.update-div {
	background-color: #ffffff;
	position: absolute;
	margin-top:3vh;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: 5vh;
	text-align: center;
	padding-top: 6px;
	font-weight: bold;
}

.pipe {
	color: grey;
	padding: 0 10px 0 10px;
	font-size: 18px;
}

span {
	color: red;
	
}

label {
	display: block;
	margin-top: 25px;
	font-weight: bold;
}

input {
	width: 100%;
	height: 45px;
}

select {
	width: 100%;
	height: 45px;
}
label.left {
	display: inline;
	width: 49%;
	float: left;
}

label.right {
	display: inline;
	width: 49%;
	float: right;

}

.phone {
	width: 49%;
}

.postal {
	width: 49%;
	float: right;
}

.new-btn {
	float: right;
	color: white;
	background-color: #4286f4;
	border:0;
	box-shadow: none;
	width: 150px;
	padding: 12px;
	margin-top: 20px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: 600;
	
}